html {
    font-size: 62.5%;
    font-family: 'Chango', cursive;
}

header {
    width: 114rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
}

header h1 {
    font-size: 4rem;
    font-weight: 300;
}

header p {
    font-size: 2.5rem;
    color: blue;
    display: inline-block;
    cursor: pointer;
}

header p:first-child {
    margin-right: 5rem;
}

.section__landing {
    width: 114rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.section__landing h2 {
    font-size: 3.2rem;
    margin-top: 0;
    color: cadetblue;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#numberInput {
    padding: 0;
    -webkit-appearance: none;
    margin: 0;
    width: 20rem;
    height: 3rem;
    font-size: 3rem;
}

#numberInputBtn {
    box-sizing: border-box;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    outline: none;
    border-style: none;
    border: 1px solid black;
    transform: translateY(-5px);
    cursor: pointer;
}

.section__scoreboard {
    width: 114rem;
    margin: 0 auto;
}

.score {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8rem 100%
}

.score-title {
    grid-row: 1/2;
    grid-column: 1/3;
}

.score-title h2 {
    font-size: 3rem;
}

.score__guesses {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 5rem;
}

.score__results {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: repeat(2, 20rem);
}

.score p {
    font-size: 2rem;
    height: 4rem;
    margin: 0;
    grid-row: 1/2;
    grid-column: 1/3;
}

.score-title {
    height: 4rem;
}

h5 {
    font-size: 2rem;
    margin: 0;
}

.bulls {
    grid-row: 1/2;
    grid-column: 1/2;
}

.cows {
    grid-row: 1/2;
    grid-column: 2/3;
}

#resultsBulls {
    grid-row: 2/3;
    grid-column: 1/2;
}

#resultsCows {
    grid-row-gap: 2/3;
    grid-column: 2/3;
}

.score li {
    list-style: none;
    font-size: 1.8rem;
}

/* RULES */

.rules {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

.rules__wrapper {
    width: 80rem;
    padding: 3rem 5rem;
    height: 40rem;
    text-align: center;
    position: absolute;
    background-color: coral;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules__wrapper ul {
    text-align: left;
}

.rules__wrapper h4 {
    font-size: 3rem;
}

.rules__wrapper ul li {
    font-size: 1.8rem;
    text-decoration: none;
    list-style: none;
    margin-bottom: 2rem;
}

span {
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    cursor: pointer;
}

.hide {
    display: none;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        margin-bottom: 3rem;
    }
    .section__header--title {
        width: 32rem;
        margin: 0 auto;
    }
    .section__header--buttons {
        width: 32rem;
        margin: 0 auto;
        text-align: left;
    }
    .section__header--buttons p {
        font-size: 2rem;
        margin: 0;
    }
    .section__header--buttons p:first-child {
        margin-right: 2rem;
    }
    .section__landing {
        width: 32rem;
        margin: 0 auto;
    }
    .section__landing h2 {
        font-size: 2.2rem;
    }
    .section__scoreboard {
        width: 100%;
    }
    .score {
        width: 32rem;
        margin: 0 auto;
        grid-column-gap: 2rem;
    }
    .score__guesses p {
        margin-bottom: 2rem !important;
    }
    .score__results {
        grid-template-columns: repeat(2, 10rem);
        grid-template-rows: 5rem;
    }
    .score__results h5 {
        align-self: center;
    }
    .rules__wrapper {
        width: 90%;
        height: 90vh;
        padding: 2rem 1rem;
    }
    .rules__wrapper ul {
        padding: 0;
    }
}